.full-width{
    width: 100vw;
}

@font-face {
    font-family: Gustavo;
    font-style: normal;
    src: url('./Gustavo_Font/gustavo_regular-webfont.woff');

}

@font-face {
    font-family: Gustavo;
    font-style: bold;
    src: url('./Gustavo_Font/gustavo_bold-webfont.woff');

}


.little-text{
    font-family: Gustavo;
    font-style: normal;
    font-size: 22px;
}
.simple-text{
    font-family: Gustavo;
    font-style: normal;
    font-size: x-large;
}

.medium-text{
    font-family: Gustavo;
    font-style: normal;
    font-size: xx-large;
}

.logo{
    font-family: Gustavo;
    font-size: xxx-large;
}